*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to right, rgb(255, 129, 119) 0%, rgb(255, 134, 122) 0%, rgb(255, 140, 127) 21%, hwb(6 52% 2%) 52%, rgb(207, 85, 108) 78%, rgb(177, 42, 91) 50%),url("../imagenes/halloween1.jpg");
    
}